.nav-blog {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: #4583aa;
}

.nav-logo {
  padding-top: 8px;
  font-size: 20px;
  font-weight: bolder;
  color: peachpuff;
  cursor: pointer;
}

.nav-logo > i {
  padding: 0 8px;
}

.nav-buttons {
  padding: 15px 20px;
  border: none;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ff8000;
  color: white;
}

.nav-buttons:hover {
  background-color: #ff9224;
}
